@import './../../node_modules/normalize.css/normalize.css';
/* ==========================================================================
   SASS Variables
   ========================================================================== */
$fontStack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, san-serif;
$serifStack: Merriweather, 'Times New Roman', serif;
$spacingUnit: 20px;
$text: #6f6f6f;
$lightGray: #f7f7f7;
$secondary: #7CB4D4;
$primary: #146A83;
$success: #8CA632;
$error: #e63e4d;
$smallScreenBreakPoint: 480px;
/* ==========================================================================
   Base Styles
   ========================================================================== */
body {
  color: $text;
  font-family: $fontStack;
  line-height: 1.5;
  @media (min-width: $smallScreenBreakPoint) {
    background-image: radial-gradient(lighten($secondary, 40%), $secondary);
    padding-top: $spacingUnit * 2;
  }
}

label {
  font-weight: 600;
}

select {
  width: 100%;
  height: 34px;
  margin-bottom: $spacingUnit;
  border: 1px solid #dedede;
}

input {
  display: block;
  width: 100%;
  border: 1px solid darken($lightGray, 10%);
  height: $spacingUnit * 1.5;
  background: $lightGray;
}
/* ==========================================================================
  Utility Classes
  ========================================================================== */
//https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.display-none {
  display : none !important;
}

.inline-block {
  display: inline-block !important;
}

.bold-font {
  font-weight: 600 !important;
}

.half-width {
    float: left;
    width: 50%;
}

.text-align-left {
  text-align: left !important;
}
/* ==========================================================================
   Challenge Form Styles
   ========================================================================== */
.challenge-form {
  background: #fff;
  max-width: 480px;
  margin: $spacingUnit auto;
  @media (min-width: $smallScreenBreakPoint) {
    box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.3);
  }
  padding: 0 $spacingUnit $spacingUnit;
    @media (min-width: $smallScreenBreakPoint) {
      border-radius: 8px;
    }
  form {
    margin: $spacingUnit * 2 0;
  }
}

.header {
  text-align: center;
  padding: $spacingUnit/2;
  background: $primary;
  margin: 0 -$spacingUnit;
  color: #fff;
  @media(min-width: $smallScreenBreakPoint) {
    border-radius: 8px 8px 0 0;
  }
}

.header__title {
  font-weight: 600;
  font-size: 2.5rem;
  margin: $spacingUnit/2;
  font-family: $serifStack;
}

.header__description {
  margin: 0 0 $spacingUnit;
  font-weight: bold;
  color: lighten($secondary, 15%);
}

.btn {
  padding: $spacingUnit/2 $spacingUnit;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.5rem;
}

.btn--full-width {
  display: block;
  margin: auto;
}

.btn--success {
  background: #8CA632;
  color: #fff;

  &:hover {
    background: darken(#8CA632, 10%);
  }
}

.fieldset {
  border: none;
  position: relative;
  padding: 0;
}

.fieldset__header {
  font-size: 1.1rem;
  color: $primary;
  font-family: $serifStack;
  @media (min-width: $smallScreenBreakPoint) {
    font-size: 1.3rem;
  }
}

.fieldset__number {
  font-weight: bold;
  position: relative;
  top: -2px;
  margin-right: $spacingUnit * 1.5;
  color: #fff;
  z-index: 1;
  &:after {
    background-color:  $primary;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 40px;
    height: 40px;
    left: -15px;
    top: -5px;
  }
}

.fieldset__container {
  padding-top: $spacingUnit;
}

.fieldset__note {
  font-size: 0.8rem;
  font-weight: 300;
}

.fieldset__group {
  position: relative;
  margin-bottom: $spacingUnit/2;
}

.fieldset__group--security {
  width: 50%;
  @media(min-width: $smallScreenBreakPoint) {
    float: left;
    width: 30%;
  }
}

.fieldset__group--expiration {
  @media(min-width: $smallScreenBreakPoint) {
    float: left;
    width: 45%;
    margin-left: 5%;
  }
}

#card-number {
  @media(min-width: $smallScreenBreakPoint) {
    width: 50%;
  }
}
//show url domain in portfolio input field
.portfolio-domain {
  position: absolute;
  right: 0;
  background: darken($lightGray, 6%);
  position: absolute;
  right: -3px;
  background: #e8e8e8;
  top: 25.5px;
  padding: 3px $spacingUnit;
  font-weight: bold;
  z-index: 1;
  color: $primary;
}
//back up incase :invalid isnt working for some reason
.invalid {
  border: 1px solid $error;
}
//https://stackoverflow.com/questions/7920742/delay-html5-invalid-pseudo-class-until-the-first-event

:invalid.show-warning {
  border-color: lighten($error, 20%);
}

input + .warning,
select + .warning {
  font-size: 0.8rem;
  visibility: hidden;
  color: $error;
  font-weight: bold;
  text-align: right;
}

.invalid + .warning,
:invalid.show-warning + .warning {
  visibility: visible;
}

select + .warning {
  position: relative;
  top: -20px;
}

.card-sprite {
  width: 45px;
  height: 32px;
  display:inline-block;
}

.card-sprite-container {
  @media(min-width: $smallScreenBreakPoint) {
    position: absolute;
    right: 6%;
  }
}

//image sprites

.card-sprite--amex.faded {
  background: url("./../images/sprite.png") 0 -40px;
}

.card-sprite--visa.faded {
  background: url("./../images/sprite.png") 142px -40px;
}

.card-sprite--discover.faded {
  background: url("./../images/sprite.png") 93px -40px;
}

.card-sprite--mastercard.faded {
  background: url("./../images/sprite.png") 45px -40px;
}

.card-sprite--amex {
  background: url("./../images/sprite.png") 0 0;
}

.card-sprite--visa {
  background: url("./../images/sprite.png") 142px 0;
}

.card-sprite--discover {
  background: url("./../images/sprite.png") 93px 0;
}

.card-sprite--mastercard {
  background: url("./../images/sprite.png") 45px 0;
}

.security-sprite {
  background: url("./../images/sprite.png") 0 62px;
  width: 65px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 7%;
}

.expiration-sprite {
  background: url("./../images/sprite.png") 0 105px;
  width: 71px;
  height: 33px;
  position: absolute;
  top: 24px;
  left: 70%;
  @media (min-width: $smallScreenBreakPoint) {
  left: 105%;
  }
}

.expiration-select-container {
  width: 32%;
  float: left;
  margin-left: 5px;
  @media (min-width: $smallScreenBreakPoint) {
    width: 46%;
  }
}
